<!--Jason Villablanca-->
<!--Quiz 2A style.css-->
<!--Nov 18, 2021-->
<!--TEJ20-->



body {
  background-color: yellow;
}

h2 {
  color: brown;
  background-color: pink;
  text-transform: uppercase;
}

#MD {
  color: black;
  background-color: green;
}

.list li{
  color: orange;
}

#first {
  color: red;
}

.ItalyP {
  font-size: 30px;
  font-family:  Lucida Console;
}
